.header{
    display: flex;
    flex-direction: row;
}

.test{
    flex: 1;
}




.drilldown{
    
    position: absolute;
    width: 35rem;
    height: 45.6rem;
    margin-top: 3.8rem;
    background-color: #30343a;
     z-index: 9;
     border-right: 1px solid black;
    
}
.canvas {
    z-index: -4;
}



.graph {
    margin: auto;
    width: 50%;

}

.graphBack{
    width: 25px;
    height: 25px;
}

.graphName{
    width: 100%;
    text-align: center;
    font-size: 25px;
}


.graphHeader {
    color: #33B5E5;
    text-align: center;
    width: 100%;
    font-size: 18px;
}
.infrastructureDropdown{
    width: 30%;
}

.graphHr {

    border-top: 2px solid black;
    width: 100%;
}


.drilldown--main{
    text-align: center;
}

.drilldown--back{

    width: 99%;
    padding-top: 1rem;
}

.drilldown--header{

    color: white;
    font-size: 17;
    padding-top: 1.5rem;
}



.NodeGraph{
    width:100%;
    display: flex;
    justify-content: center;
}





