.header{
    display: flex;
    flex-direction: row;
}

.test{
    flex: 1;
}




.drilldown{
    
    position: absolute;
    width: 35rem;
    height: 45.6rem;
    margin-top: 3.8rem;
    background-color: #30343a;
     z-index: 9;
     border-right: 1px solid black;
    
}
.canvas {
    z-index: -4;
}


  









